.navbar-inverse {
  background-color: #222;
   
}
.navbar-inverse .navbar-brand {
  color: #9d9d9d;
}

.navbar-inverse .navbar-nav>li {
  word-wrap: break-word;
    max-width: 20px;
}
.navbar-inverse .navbar-nav>li>a {
  color: #9d9d9d;
}
.navbar-inverse .navbar-nav>.active>a {
  background-color: #222;
}
.list-group-item.active {
  background-color: #222;
  border-color: #222;
}
item.active, .list-group-item.active:hover {
  background-color: #222;
  border-color: #222;
}